<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bx_auto_setting.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,2},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>bx_lv.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,44},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>bx_lv_next.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,148},{470,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{470,40}}</string>
                <key>sourceSize</key>
                <string>{470,40}</string>
            </dict>
            <key>bx_lv_now.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,276},{300,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,36}}</string>
                <key>sourceSize</key>
                <string>{300,36}</string>
            </dict>
            <key>bx_open_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,300},{232,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,232}}</string>
                <key>sourceSize</key>
                <string>{232,232}</string>
            </dict>
            <key>bx_quality_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,578},{440,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{440,40}}</string>
                <key>sourceSize</key>
                <string>{440,40}</string>
            </dict>
            <key>bx_quality_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,578},{440,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{440,40}}</string>
                <key>sourceSize</key>
                <string>{440,40}</string>
            </dict>
            <key>bx_quality_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,578},{440,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{440,40}}</string>
                <key>sourceSize</key>
                <string>{440,40}</string>
            </dict>
            <key>bx_quality_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,578},{440,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{440,40}}</string>
                <key>sourceSize</key>
                <string>{440,40}</string>
            </dict>
            <key>bx_quality_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,578},{440,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{440,40}}</string>
                <key>sourceSize</key>
                <string>{440,40}</string>
            </dict>
            <key>bx_quality_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,578},{440,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{440,40}}</string>
                <key>sourceSize</key>
                <string>{440,40}</string>
            </dict>
            <key>bx_quality_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,578},{440,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{440,40}}</string>
                <key>sourceSize</key>
                <string>{440,40}</string>
            </dict>
            <key>bx_quality_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,578},{440,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{440,40}}</string>
                <key>sourceSize</key>
                <string>{440,40}</string>
            </dict>
            <key>bx_quality_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,578},{440,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{440,40}}</string>
                <key>sourceSize</key>
                <string>{440,40}</string>
            </dict>
            <key>bx_screen.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,246},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>bx_screen_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,246},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>bx_xiaohao.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,534},{150,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,40}}</string>
                <key>sourceSize</key>
                <string>{150,40}</string>
            </dict>
            <key>hd_liebiao_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,300},{120,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,130}}</string>
                <key>sourceSize</key>
                <string>{120,130}</string>
            </dict>
            <key>hd_liebiao_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{120,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,240}}</string>
                <key>sourceSize</key>
                <string>{120,240}</string>
            </dict>
            <key>hd_shousuo_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,542},{28,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,48}}</string>
                <key>sourceSize</key>
                <string>{28,48}</string>
            </dict>
            <key>lt_biaoqing.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,542},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>lt_liaotianlan.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,112},{300,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,32}}</string>
                <key>sourceSize</key>
                <string>{300,32}</string>
            </dict>
            <key>lt_zhezhao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,44},{494,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{494,200}}</string>
                <key>sourceSize</key>
                <string>{494,200}</string>
            </dict>
            <key>sy_shuxing_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{600,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,40}}</string>
                <key>sourceSize</key>
                <string>{600,40}</string>
            </dict>
            <key>sy_yindao.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,2},{328,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{328,108}}</string>
                <key>sourceSize</key>
                <string>{328,108}</string>
            </dict>
            <key>tx_jingyan.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,126},{172,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,12}}</string>
                <key>sourceSize</key>
                <string>{172,12}</string>
            </dict>
            <key>tx_jingyancao.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,92},{182,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,22}}</string>
                <key>sourceSize</key>
                <string>{182,22}</string>
            </dict>
            <key>tx_lv.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,92},{62,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,32}}</string>
                <key>sourceSize</key>
                <string>{62,32}</string>
            </dict>
            <key>tx_name_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{282,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,52}}</string>
                <key>sourceSize</key>
                <string>{282,52}</string>
            </dict>
            <key>zb_huwan_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,432},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>zb_jiezhi_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,578},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>zb_jingyuan_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,432},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>zb_kuzi_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,300},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>zb_maozi_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,190},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>zb_shoutao_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,680},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>zb_xianglian_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,782},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>zb_xiezi_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,884},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>zb_yaodai_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,190},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>zb_yifu_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,190},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>plazaAtlas.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fdd70ac049c5175f14f196d7aab105ba:2f81527347652b899a41c80ff7d86fd3:9ac8afe2f398420efcff54ccdd6dec52$</string>
            <key>textureFileName</key>
            <string>plazaAtlas.png</string>
        </dict>
    </dict>
</plist>
