<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>com_line_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{692,19}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{692,19}}</string>
        <key>sourceSize</key>
        <string>{692,19}</string>
      </dict>
      <key>com_items_ditu.png</key>
      <dict>
        <key>frame</key>
        <string>{{695,1},{192,192}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{192,192}}</string>
        <key>sourceSize</key>
        <string>{192,192}</string>
      </dict>
      <key>com_line_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,22},{692,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{692,18}}</string>
        <key>sourceSize</key>
        <string>{692,18}</string>
      </dict>
      <key>com_pet_up.png</key>
      <dict>
        <key>frame</key>
        <string>{{889,1},{108,131}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{108,131}}</string>
        <key>sourceSize</key>
        <string>{108,131}</string>
      </dict>
      <key>com_skill_up.png</key>
      <dict>
        <key>frame</key>
        <string>{{889,111},{108,131}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{108,131}}</string>
        <key>sourceSize</key>
        <string>{108,131}</string>
      </dict>
      <key>com_title_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,42},{565,98}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{565,98}}</string>
        <key>sourceSize</key>
        <string>{565,98}</string>
      </dict>
      <key>com_role_up.png</key>
      <dict>
        <key>frame</key>
        <string>{{568,42},{107,136}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{107,136}}</string>
        <key>sourceSize</key>
        <string>{107,136}</string>
      </dict>
      <key>com_title_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,142},{564,98}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{564,98}}</string>
        <key>sourceSize</key>
        <string>{564,98}</string>
      </dict>
      <key>com_title_9.png</key>
      <dict>
        <key>frame</key>
        <string>{{567,180},{379,98}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{379,98}}</string>
        <key>sourceSize</key>
        <string>{379,98}</string>
      </dict>
      <key>com_title_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,561},{380,97}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{380,97}}</string>
        <key>sourceSize</key>
        <string>{380,97}</string>
      </dict>
      <key>com_gx_off_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,943},{40,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,40}}</string>
        <key>sourceSize</key>
        <string>{40,40}</string>
      </dict>
      <key>com_title_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,561},{379,97}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{379,97}}</string>
        <key>sourceSize</key>
        <string>{379,97}</string>
      </dict>
      <key>com_title_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{199,561},{378,98}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{378,98}}</string>
        <key>sourceSize</key>
        <string>{378,98}</string>
      </dict>
      <key>com_title_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{299,561},{377,97}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{377,97}}</string>
        <key>sourceSize</key>
        <string>{377,97}</string>
      </dict>
      <key>com_title_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{398,242},{377,97}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{377,97}}</string>
        <key>sourceSize</key>
        <string>{377,97}</string>
      </dict>
      <key>com_title_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,242},{375,97}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{375,97}}</string>
        <key>sourceSize</key>
        <string>{375,97}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>commonAtlas3.png</string>
      <key>size</key>
      <string>{1021,984}</string>
      <key>textureFileName</key>
      <string>commonAtlas3</string>
    </dict>
  </dict>
</plist>
