<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>com_avatar_ditu3.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,120},{237,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,237}}</string>
                <key>sourceSize</key>
                <string>{237,237}</string>
            </dict>
            <key>com_avatar_lv.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,173},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>com_bigbtn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,2},{366,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{366,116}}</string>
                <key>sourceSize</key>
                <string>{366,116}</string>
            </dict>
            <key>com_bigbtn_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,55},{366,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{366,116}}</string>
                <key>sourceSize</key>
                <string>{366,116}</string>
            </dict>
            <key>com_boss.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,359},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>com_dataList_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,352},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>com_dikuang7.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,347},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>com_dikuang_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,120},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>com_ditu_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,449},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>com_ditu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,359},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>com_ditu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,55},{250,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,125}}</string>
                <key>sourceSize</key>
                <string>{250,125}</string>
            </dict>
            <key>com_ditu_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,225},{250,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,125}}</string>
                <key>sourceSize</key>
                <string>{250,125}</string>
            </dict>
            <key>com_equip_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,262},{108,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,138}}</string>
                <key>sourceSize</key>
                <string>{108,138}</string>
            </dict>
            <key>com_gx_lose.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,243},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>com_hot_mark.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,182},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>com_integral.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,372},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>com_item_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,372},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>com_item_basemap.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,434},{192,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,192}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>com_item_quantity.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,173},{280,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,50}}</string>
                <key>sourceSize</key>
                <string>{280,50}</string>
            </dict>
            <key>com_item_reduce.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,424},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>com_liebiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,243},{100,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,50}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>com_log.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,489},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>com_match.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,352},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>com_max.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,345},{100,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,50}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>com_message_tatle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,13},{598,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{598,40}}</string>
                <key>sourceSize</key>
                <string>{598,40}</string>
            </dict>
            <key>com_myRank.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,182},{200,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,124}}</string>
                <key>sourceSize</key>
                <string>{200,124}</string>
            </dict>
            <key>com_myself_mark.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,237},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>com_new_mark.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,292},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>com_otherRank.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,308},{200,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,124}}</string>
                <key>sourceSize</key>
                <string>{200,124}</string>
            </dict>
            <key>com_rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,474},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>com_reward.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,482},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>com_shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,604},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>com_splitline.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{622,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{622,9}}</string>
                <key>sourceSize</key>
                <string>{622,9}</string>
            </dict>
            <key>com_star1.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,2},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>com_star2.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,20},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>commonAtlas2.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c627f62936bdff663f59fef068a5c187:0679a390ca56dcb02cedd6e2c701cff4:687b734928f36caf7c28b808a23e1be3$</string>
            <key>textureFileName</key>
            <string>commonAtlas2.png</string>
        </dict>
    </dict>
</plist>
