<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>txz_baoxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,2},{485,318}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{485,318}}</string>
                <key>sourceSize</key>
                <string>{495,322}</string>
            </dict>
            <key>txz_dengji1.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,143},{61,59}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{61,59}}</string>
                <key>sourceSize</key>
                <string>{65,61}</string>
            </dict>
            <key>txz_dengji2.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,204},{60,59}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{60,59}}</string>
                <key>sourceSize</key>
                <string>{64,61}</string>
            </dict>
            <key>txz_dengji3.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,88},{202,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,8}}</string>
                <key>sourceSize</key>
                <string>{202,8}</string>
            </dict>
            <key>txz_dengjikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,896},{75,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{75,76}}</string>
                <key>sourceSize</key>
                <string>{79,80}</string>
            </dict>
            <key>txz_dikuang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,265},{294,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,59}}</string>
                <key>sourceSize</key>
                <string>{294,59}</string>
            </dict>
            <key>txz_guanggao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{524,84}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{524,84}}</string>
                <key>sourceSize</key>
                <string>{528,88}</string>
            </dict>
            <key>txz_guanggao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,896},{118,55}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{118,55}}</string>
                <key>sourceSize</key>
                <string>{122,59}</string>
            </dict>
            <key>txz_haohua.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,544},{175,143}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{175,143}}</string>
                <key>sourceSize</key>
                <string>{179,145}</string>
            </dict>
            <key>txz_haohua_dikuang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,143},{220,361}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,361}}</string>
                <key>sourceSize</key>
                <string>{220,361}</string>
            </dict>
            <key>txz_haohua_dikuang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,608},{189,361}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,361}}</string>
                <key>sourceSize</key>
                <string>{189,361}</string>
            </dict>
            <key>txz_haohua_dikuang3.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,533},{220,361}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,361}}</string>
                <key>sourceSize</key>
                <string>{220,361}</string>
            </dict>
            <key>txz_haohua_zhezhao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,143},{190,362}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,362}}</string>
                <key>sourceSize</key>
                <string>{190,362}</string>
            </dict>
            <key>txz_jingyantiao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{476,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{476,27}}</string>
                <key>sourceSize</key>
                <string>{476,27}</string>
            </dict>
            <key>txz_jingyantiao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,507},{294,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,24}}</string>
                <key>sourceSize</key>
                <string>{294,24}</string>
            </dict>
            <key>txz_jingyantiao3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,117},{476,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{476,24}}</string>
                <key>sourceSize</key>
                <string>{476,24}</string>
            </dict>
            <key>txz_jingying.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,896},{109,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,124}}</string>
                <key>sourceSize</key>
                <string>{109,124}</string>
            </dict>
            <key>txz_jingying_dikuang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,550},{220,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,203}}</string>
                <key>sourceSize</key>
                <string>{220,203}</string>
            </dict>
            <key>txz_jingying_dikuang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,772},{189,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,203}}</string>
                <key>sourceSize</key>
                <string>{189,203}</string>
            </dict>
            <key>txz_jingying_dikuang3.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,322},{220,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,203}}</string>
                <key>sourceSize</key>
                <string>{220,203}</string>
            </dict>
            <key>txz_jingying_zhezhao.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,772},{191,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,204}}</string>
                <key>sourceSize</key>
                <string>{191,204}</string>
            </dict>
            <key>txz_pinzhikuangtexiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,322},{142,142}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{142,142}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>tz_jingyantiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,88},{460,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{460,30}}</string>
                <key>sourceSize</key>
                <string>{460,30}</string>
            </dict>
            <key>tz_jingyantiao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,550},{460,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{460,30}}</string>
                <key>sourceSize</key>
                <string>{460,30}</string>
            </dict>
            <key>tz_jingyantiao3.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,550},{460,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{460,30}}</string>
                <key>sourceSize</key>
                <string>{460,30}</string>
            </dict>
            <key>tz_yeqian.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,971},{146,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,50}}</string>
                <key>sourceSize</key>
                <string>{146,50}</string>
            </dict>
            <key>tz_yilingqu.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,506},{114,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,100}}</string>
                <key>sourceSize</key>
                <string>{114,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>rechargeAtlas1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9140c8beb38124bdd15dc34347fc6e41:40623250eb5c1e7afa06db7645ac4cfe:ccb81e30981367ef45797563f7f684f7$</string>
            <key>textureFileName</key>
            <string>rechargeAtlas1.png</string>
        </dict>
    </dict>
</plist>
