<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lt_home_owner.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,455},{120,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,20}}</string>
                <key>sourceSize</key>
                <string>{120,20}</string>
            </dict>
            <key>lt_juese_list.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{250,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,320}}</string>
                <key>sourceSize</key>
                <string>{250,320}</string>
            </dict>
            <key>lt_leitai_list.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,390},{255,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,63}}</string>
                <key>sourceSize</key>
                <string>{255,63}</string>
            </dict>
            <key>lt_leitai_room.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,254},{254,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,63}}</string>
                <key>sourceSize</key>
                <string>{254,63}</string>
            </dict>
            <key>lt_leitai_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,324},{191,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,64}}</string>
                <key>sourceSize</key>
                <string>{191,64}</string>
            </dict>
            <key>lt_participant.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,455},{120,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,20}}</string>
                <key>sourceSize</key>
                <string>{120,20}</string>
            </dict>
            <key>lt_room_list.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{250,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,320}}</string>
                <key>sourceSize</key>
                <string>{250,320}</string>
            </dict>
            <key>lt_room_message.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{250,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,250}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>leitaiAtlas.png</string>
            <key>size</key>
            <string>{576,510}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d2e0c7695f17cf6fedeeece34be899c5:c5773c865a1b8bd76b13e8eb34b7e0d0:882bbbd38c8adb16f903343017c6c892$</string>
            <key>textureFileName</key>
            <string>leitaiAtlas.png</string>
        </dict>
    </dict>
</plist>
