<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>js_jinducao_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,2},{80,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,220}}</string>
                <key>sourceSize</key>
                <string>{80,220}</string>
            </dict>
            <key>js_jinducao_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,380},{80,434}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,434}}</string>
                <key>sourceSize</key>
                <string>{80,434}</string>
            </dict>
            <key>js_jinducao_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,922},{100,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,164}}</string>
                <key>sourceSize</key>
                <string>{100,164}</string>
            </dict>
            <key>js_jindutiao_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,231},{76,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,116}}</string>
                <key>sourceSize</key>
                <string>{76,116}</string>
            </dict>
            <key>js_jindutiao_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,224},{76,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,223}}</string>
                <key>sourceSize</key>
                <string>{76,223}</string>
            </dict>
            <key>js_jindutiao_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,862},{56,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,160}}</string>
                <key>sourceSize</key>
                <string>{56,160}</string>
            </dict>
            <key>js_touxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,836},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>js_touxiang_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,836},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>wl_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,462},{90,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,89}}</string>
                <key>sourceSize</key>
                <string>{90,89}</string>
            </dict>
            <key>wl_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,922},{91,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,84}}</string>
                <key>sourceSize</key>
                <string>{91,84}</string>
            </dict>
            <key>wl_3-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,699},{91,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,77}}</string>
                <key>sourceSize</key>
                <string>{91,77}</string>
            </dict>
            <key>wl_baoming_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,648},{186,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,186}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>wl_baoming_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,836},{186,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,186}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>wl_baoming_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,648},{186,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,186}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>wl_baoming_time.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,460},{400,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,52}}</string>
                <key>sourceSize</key>
                <string>{400,52}</string>
            </dict>
            <key>wl_biaoqian_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,449},{248,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,64}}</string>
                <key>sourceSize</key>
                <string>{248,64}</string>
            </dict>
            <key>wl_clean.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,449},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>wl_dizuo_rank1.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,231},{388,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,147}}</string>
                <key>sourceSize</key>
                <string>{388,147}</string>
            </dict>
            <key>wl_dizuo_rank2.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,460},{388,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,147}}</string>
                <key>sourceSize</key>
                <string>{388,147}</string>
            </dict>
            <key>wl_dizuo_rank3.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,460},{388,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,147}}</string>
                <key>sourceSize</key>
                <string>{388,147}</string>
            </dict>
            <key>wl_gouxuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,805},{25,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,21}}</string>
                <key>sourceSize</key>
                <string>{25,21}</string>
            </dict>
            <key>wl_jindukuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,983},{80,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,34}}</string>
                <key>sourceSize</key>
                <string>{80,34}</string>
            </dict>
            <key>wl_jindutiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,862},{80,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,18}}</string>
                <key>sourceSize</key>
                <string>{80,18}</string>
            </dict>
            <key>wl_jindutiao_mark.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,501},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>wl_juesai_zhanli.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,2},{158,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,45}}</string>
                <key>sourceSize</key>
                <string>{158,45}</string>
            </dict>
            <key>wl_rank1.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,462},{343,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{343,94}}</string>
                <key>sourceSize</key>
                <string>{343,94}</string>
            </dict>
            <key>wl_rank2.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,558},{344,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,88}}</string>
                <key>sourceSize</key>
                <string>{344,88}</string>
            </dict>
            <key>wl_rank3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,460},{521,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{521,88}}</string>
                <key>sourceSize</key>
                <string>{521,88}</string>
            </dict>
            <key>wl_return.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,162},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>wl_saiqu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,850},{250,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,70}}</string>
                <key>sourceSize</key>
                <string>{250,70}</string>
            </dict>
            <key>wl_saiqu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,553},{250,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,70}}</string>
                <key>sourceSize</key>
                <string>{250,70}</string>
            </dict>
            <key>wl_texiao_rank1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{444,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{444,227}}</string>
                <key>sourceSize</key>
                <string>{444,227}</string>
            </dict>
            <key>wl_texiao_rank2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,231},{444,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{444,227}}</string>
                <key>sourceSize</key>
                <string>{444,227}</string>
            </dict>
            <key>wl_texiao_rank3.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,2},{444,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{444,227}}</string>
                <key>sourceSize</key>
                <string>{444,227}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>matchAtlas.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5ceb0b05169baa436af4f35a9d6a7938:a2877ebc9d44ed37e6957f883100fdae:003115c416def4e90f992da7a825d71f$</string>
            <key>textureFileName</key>
            <string>matchAtlas.png</string>
        </dict>
    </dict>
</plist>
