<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bx_beat.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,2},{179,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,153}}</string>
                <key>sourceSize</key>
                <string>{179,153}</string>
            </dict>
            <key>bx_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,483},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>linshi_BOSS.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,564},{265,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,200}}</string>
                <key>sourceSize</key>
                <string>{265,200}</string>
            </dict>
            <key>mx_MonsterName.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,130},{76,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,256}}</string>
                <key>sourceSize</key>
                <string>{76,256}</string>
            </dict>
            <key>mx_box_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,183},{83,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,70}}</string>
                <key>sourceSize</key>
                <string>{83,70}</string>
            </dict>
            <key>mx_box_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,183},{83,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,70}}</string>
                <key>sourceSize</key>
                <string>{83,70}</string>
            </dict>
            <key>mx_ditu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,772},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>mx_maoxian_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,568},{90,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,89}}</string>
                <key>sourceSize</key>
                <string>{90,89}</string>
            </dict>
            <key>mx_maoxian_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,659},{90,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,89}}</string>
                <key>sourceSize</key>
                <string>{90,89}</string>
            </dict>
            <key>mx_tab.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,831},{241,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,126}}</string>
                <key>sourceSize</key>
                <string>{241,126}</string>
            </dict>
            <key>mx_tab_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{241,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,126}}</string>
                <key>sourceSize</key>
                <string>{241,126}</string>
            </dict>
            <key>mx_title_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,130},{124,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,26}}</string>
                <key>sourceSize</key>
                <string>{124,26}</string>
            </dict>
            <key>mx_title_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{560,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{560,110}}</string>
                <key>sourceSize</key>
                <string>{560,110}</string>
            </dict>
            <key>mx_tower_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,959},{62,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,80}}</string>
                <key>sourceSize</key>
                <string>{62,80}</string>
            </dict>
            <key>mx_tower_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,959},{62,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,80}}</string>
                <key>sourceSize</key>
                <string>{62,80}</string>
            </dict>
            <key>yx_boss_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,388},{215,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,93}}</string>
                <key>sourceSize</key>
                <string>{215,93}</string>
            </dict>
            <key>yx_boss_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,256},{215,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,93}}</string>
                <key>sourceSize</key>
                <string>{215,93}</string>
            </dict>
            <key>yx_boss_lock_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,555},{215,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,93}}</string>
                <key>sourceSize</key>
                <string>{215,93}</string>
            </dict>
            <key>yx_boss_lock_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,824},{215,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,93}}</string>
                <key>sourceSize</key>
                <string>{215,93}</string>
            </dict>
            <key>yx_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,959},{120,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,40}}</string>
                <key>sourceSize</key>
                <string>{120,40}</string>
            </dict>
            <key>yx_monster_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,130},{215,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,86}}</string>
                <key>sourceSize</key>
                <string>{215,86}</string>
            </dict>
            <key>yx_monster_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,347},{215,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,86}}</string>
                <key>sourceSize</key>
                <string>{215,86}</string>
            </dict>
            <key>yx_monster_lcok_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,351},{215,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,86}}</string>
                <key>sourceSize</key>
                <string>{215,86}</string>
            </dict>
            <key>yx_monster_lcok_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,919},{215,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,86}}</string>
                <key>sourceSize</key>
                <string>{215,86}</string>
            </dict>
            <key>yx_rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,535},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,106}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>yx_reward.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,643},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,106}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>yx_touxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,483},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>adventureAtlas.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c085e410e30ea41457f90f7f95c54d1f:28612e6714613ad98042dd720010ae9f:1746059b53dd8e6dce302edb866103b8$</string>
            <key>textureFileName</key>
            <string>adventureAtlas.png</string>
        </dict>
    </dict>
</plist>
