<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jjc_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,470},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>jjc_add_ditu.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,423},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>jjc_jiantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,423},{54,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,76}}</string>
                <key>sourceSize</key>
                <string>{54,76}</string>
            </dict>
            <key>jl_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,331},{230,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,90}}</string>
                <key>sourceSize</key>
                <string>{230,90}</string>
            </dict>
            <key>jl_btn_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,331},{230,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,90}}</string>
                <key>sourceSize</key>
                <string>{230,90}</string>
            </dict>
            <key>jl_jlyl.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,2},{254,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,63}}</string>
                <key>sourceSize</key>
                <string>{254,63}</string>
            </dict>
            <key>log_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,423},{20,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,22}}</string>
                <key>sourceSize</key>
                <string>{20,22}</string>
            </dict>
            <key>log_lose.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,423},{92,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,45}}</string>
                <key>sourceSize</key>
                <string>{92,45}</string>
            </dict>
            <key>log_lose_dt.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{270,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,130}}</string>
                <key>sourceSize</key>
                <string>{270,130}</string>
            </dict>
            <key>log_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{160,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,320}}</string>
                <key>sourceSize</key>
                <string>{160,320}</string>
            </dict>
            <key>log_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,470},{20,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,22}}</string>
                <key>sourceSize</key>
                <string>{20,22}</string>
            </dict>
            <key>log_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,423},{91,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,45}}</string>
                <key>sourceSize</key>
                <string>{91,45}</string>
            </dict>
            <key>log_win_dt.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,134},{270,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,130}}</string>
                <key>sourceSize</key>
                <string>{270,130}</string>
            </dict>
            <key>log_zdrz.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,266},{253,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,63}}</string>
                <key>sourceSize</key>
                <string>{253,63}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>arena.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1c48fba179b5408e7aa81179b188e1e7:719f681dbccdfeb53705bd8daa9a811d:f77a126ac62d8274986ef53ca2cdc77b$</string>
            <key>textureFileName</key>
            <string>arena.png</string>
        </dict>
    </dict>
</plist>
