<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>weapon0101.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,947},{98,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,64}}</string>
                <key>sourceSize</key>
                <string>{98,64}</string>
            </dict>
            <key>weapon0102.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,487},{105,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,63}}</string>
                <key>sourceSize</key>
                <string>{105,63}</string>
            </dict>
            <key>weapon0201.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,896},{125,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,86}}</string>
                <key>sourceSize</key>
                <string>{125,86}</string>
            </dict>
            <key>weapon0202.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,188},{131,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,98}}</string>
                <key>sourceSize</key>
                <string>{131,98}</string>
            </dict>
            <key>weapon0301.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,871},{150,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,103}}</string>
                <key>sourceSize</key>
                <string>{150,103}</string>
            </dict>
            <key>weapon0302.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,527},{209,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,154}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>weapon0401.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,526},{173,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,113}}</string>
                <key>sourceSize</key>
                <string>{173,113}</string>
            </dict>
            <key>weapon0402.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,406},{176,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,118}}</string>
                <key>sourceSize</key>
                <string>{176,118}</string>
            </dict>
            <key>weapon0501.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,405},{113,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,93}}</string>
                <key>sourceSize</key>
                <string>{113,93}</string>
            </dict>
            <key>weapon0502.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,526},{186,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,100}}</string>
                <key>sourceSize</key>
                <string>{186,100}</string>
            </dict>
            <key>weapon0601.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,100},{153,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,92}}</string>
                <key>sourceSize</key>
                <string>{153,92}</string>
            </dict>
            <key>weapon0602.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,714},{180,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,110}}</string>
                <key>sourceSize</key>
                <string>{180,110}</string>
            </dict>
            <key>weapon0701.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,194},{160,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,107}}</string>
                <key>sourceSize</key>
                <string>{160,107}</string>
            </dict>
            <key>weapon0702.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,738},{207,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,112}}</string>
                <key>sourceSize</key>
                <string>{207,112}</string>
            </dict>
            <key>weapon0801.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,303},{148,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,82}}</string>
                <key>sourceSize</key>
                <string>{148,82}</string>
            </dict>
            <key>weapon0802.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,2},{154,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,96}}</string>
                <key>sourceSize</key>
                <string>{154,96}</string>
            </dict>
            <key>weapon0901.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,821},{196,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,137}}</string>
                <key>sourceSize</key>
                <string>{196,137}</string>
            </dict>
            <key>weapon0902.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,2},{213,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,150}}</string>
                <key>sourceSize</key>
                <string>{213,150}</string>
            </dict>
            <key>weapon1001.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,387},{164,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,98}}</string>
                <key>sourceSize</key>
                <string>{164,98}</string>
            </dict>
            <key>weapon1002.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,217},{187,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,114}}</string>
                <key>sourceSize</key>
                <string>{187,114}</string>
            </dict>
            <key>weapon1101.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,2},{137,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,95}}</string>
                <key>sourceSize</key>
                <string>{137,95}</string>
            </dict>
            <key>weapon1102.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,701},{168,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,134}}</string>
                <key>sourceSize</key>
                <string>{168,134}</string>
            </dict>
            <key>weapon1201.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,778},{230,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,128}}</string>
                <key>sourceSize</key>
                <string>{230,128}</string>
            </dict>
            <key>weapon1202.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,530},{246,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,142}}</string>
                <key>sourceSize</key>
                <string>{246,142}</string>
            </dict>
            <key>weapon1301.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,871},{148,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,100}}</string>
                <key>sourceSize</key>
                <string>{148,100}</string>
            </dict>
            <key>weapon1302.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,520},{162,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,106}}</string>
                <key>sourceSize</key>
                <string>{162,106}</string>
            </dict>
            <key>weapon1401.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,217},{186,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,115}}</string>
                <key>sourceSize</key>
                <string>{186,115}</string>
            </dict>
            <key>weapon1402.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,280},{248,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,140}}</string>
                <key>sourceSize</key>
                <string>{248,140}</string>
            </dict>
            <key>weapon1501.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,821},{197,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,132}}</string>
                <key>sourceSize</key>
                <string>{197,132}</string>
            </dict>
            <key>weapon1502.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,280},{273,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{273,177}}</string>
                <key>sourceSize</key>
                <string>{273,177}</string>
            </dict>
            <key>weapon1601.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,251},{220,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,170}}</string>
                <key>sourceSize</key>
                <string>{220,170}</string>
            </dict>
            <key>weapon1602.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,2},{247,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,193}}</string>
                <key>sourceSize</key>
                <string>{247,193}</string>
            </dict>
            <key>weapon1701.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,288},{131,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,86}}</string>
                <key>sourceSize</key>
                <string>{131,86}</string>
            </dict>
            <key>weapon1702.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,2},{184,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,128}}</string>
                <key>sourceSize</key>
                <string>{184,128}</string>
            </dict>
            <key>weapon1801.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,555},{264,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,203}}</string>
                <key>sourceSize</key>
                <string>{264,203}</string>
            </dict>
            <key>weapon1802.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{268,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,276}}</string>
                <key>sourceSize</key>
                <string>{268,276}</string>
            </dict>
            <key>weapon1901.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,473},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,51}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>weapon1902.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,376},{86,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,85}}</string>
                <key>sourceSize</key>
                <string>{86,85}</string>
            </dict>
            <key>weapon2001.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,947},{63,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,64}}</string>
                <key>sourceSize</key>
                <string>{63,64}</string>
            </dict>
            <key>weapon2002.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,473},{52,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,88}}</string>
                <key>sourceSize</key>
                <string>{52,88}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>handWeaponAtlas.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:62368b451980cebbc524bfef73a5348c:81298d822b6c4938cfd0e066707ba235:a2b21ebab57e766ece5c72635a943720$</string>
            <key>textureFileName</key>
            <string>handWeaponAtlas.png</string>
        </dict>
    </dict>
</plist>
