<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lt_home_owner.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,898},{120,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,20}}</string>
                <key>sourceSize</key>
                <string>{120,20}</string>
            </dict>
            <key>lt_juese_list.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{250,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,320}}</string>
                <key>sourceSize</key>
                <string>{250,320}</string>
            </dict>
            <key>lt_participant.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,898},{120,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,20}}</string>
                <key>sourceSize</key>
                <string>{120,20}</string>
            </dict>
            <key>lt_room_list.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{250,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,320}}</string>
                <key>sourceSize</key>
                <string>{250,320}</string>
            </dict>
            <key>lt_room_message.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,646},{250,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,250}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>leitaiAtlas.png</string>
            <key>size</key>
            <string>{256,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:798791494315822fddecea3160713f31:3d1140ff6d7c286c5dd7a5cf7c2c6385:882bbbd38c8adb16f903343017c6c892$</string>
            <key>textureFileName</key>
            <string>leitaiAtlas.png</string>
        </dict>
    </dict>
</plist>
