<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>com_fight.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,854},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>com_information_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,236},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>com_petditu_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,300},{124,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,124}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>com_petditu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,236},{124,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,124}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>com_petditu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,362},{124,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,124}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>com_petditu_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,488},{124,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,124}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>com_petditu_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,614},{124,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,124}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>com_petkuang1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,740},{122,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,122}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>com_petkuang1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,44},{122,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,122}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>com_petkuang1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,330},{122,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,122}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>com_petkuang1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,426},{122,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,122}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>com_petkuang1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,330},{122,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,122}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>com_petkuang_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,454},{122,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,122}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>com_petkuang_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,550},{122,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,122}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>com_petkuang_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,454},{122,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,122}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>com_petkuang_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,540},{122,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,122}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>com_petkuang_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,674},{122,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,122}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>com_rest.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,854},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>cw_change.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,518},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>cw_fanye_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,236},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>cw_fanye_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,274},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>cw_fight.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,44},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,126}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>cw_jingyancao.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,312},{540,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{540,30}}</string>
                <key>sourceSize</key>
                <string>{540,30}</string>
            </dict>
            <key>cw_jingyankuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,2},{536,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{536,26}}</string>
                <key>sourceSize</key>
                <string>{536,26}</string>
            </dict>
            <key>cw_pet_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,903},{157,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,117}}</string>
                <key>sourceSize</key>
                <string>{157,117}</string>
            </dict>
            <key>cw_pet_call.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{226,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,106}}</string>
                <key>sourceSize</key>
                <string>{226,106}</string>
            </dict>
            <key>cw_pet_list.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,236},{120,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,180}}</string>
                <key>sourceSize</key>
                <string>{120,180}</string>
            </dict>
            <key>cw_pet_wish.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,44},{150,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,190}}</string>
                <key>sourceSize</key>
                <string>{150,190}</string>
            </dict>
            <key>cw_pinzhi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,2},{320,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,80}}</string>
                <key>sourceSize</key>
                <string>{320,80}</string>
            </dict>
            <key>cw_pinzhi_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,84},{320,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,80}}</string>
                <key>sourceSize</key>
                <string>{320,80}</string>
            </dict>
            <key>cw_pinzhi_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,166},{320,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,80}}</string>
                <key>sourceSize</key>
                <string>{320,80}</string>
            </dict>
            <key>cw_pinzhi_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,248},{320,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,80}}</string>
                <key>sourceSize</key>
                <string>{320,80}</string>
            </dict>
            <key>cw_rest.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,172},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,126}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>cw_shu.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,44},{4,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,40}}</string>
                <key>sourceSize</key>
                <string>{4,40}</string>
            </dict>
            <key>cw_shuzhi_ditu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{670,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{670,40}}</string>
                <key>sourceSize</key>
                <string>{670,40}</string>
            </dict>
            <key>cw_tag_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,426},{90,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,190}}</string>
                <key>sourceSize</key>
                <string>{90,190}</string>
            </dict>
            <key>cw_tag_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,44},{90,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,190}}</string>
                <key>sourceSize</key>
                <string>{90,190}</string>
            </dict>
            <key>cw_xiaoxi.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,426},{100,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,50}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>linshi_youer44.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,854},{44,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,30}}</string>
                <key>sourceSize</key>
                <string>{44,30}</string>
            </dict>
            <key>zq_doro_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,540},{361,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{361,115}}</string>
                <key>sourceSize</key>
                <string>{361,115}</string>
            </dict>
            <key>zq_doro_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,540},{361,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{361,115}}</string>
                <key>sourceSize</key>
                <string>{361,115}</string>
            </dict>
            <key>zq_fanhui.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,903},{360,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,115}}</string>
                <key>sourceSize</key>
                <string>{360,115}</string>
            </dict>
            <key>zq_get.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,44},{239,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,63}}</string>
                <key>sourceSize</key>
                <string>{239,63}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>petAtlas.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ae06e1f6b3ec11baf6ba8a4595ad34c7:a1dc14e9780309a3a75fd7c32a77c2fb:39ca587145d802ca8cb8724ebb47d1a1$</string>
            <key>textureFileName</key>
            <string>petAtlas.png</string>
        </dict>
    </dict>
</plist>
