<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,279},{32,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,49}}</string>
                <key>sourceSize</key>
                <string>{32,49}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,927},{32,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,49}}</string>
                <key>sourceSize</key>
                <string>{32,49}</string>
            </dict>
            <key>bei.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,219},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>cz_chongzhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,580},{155,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,41}}</string>
                <key>sourceSize</key>
                <string>{155,41}</string>
            </dict>
            <key>cz_chongzhi_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,580},{155,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,41}}</string>
                <key>sourceSize</key>
                <string>{155,41}</string>
            </dict>
            <key>cz_dikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,2},{353,419}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{353,419}}</string>
                <key>sourceSize</key>
                <string>{353,419}</string>
            </dict>
            <key>cz_icon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,357},{221,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,158}}</string>
                <key>sourceSize</key>
                <string>{221,158}</string>
            </dict>
            <key>cz_icon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,623},{262,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,182}}</string>
                <key>sourceSize</key>
                <string>{262,182}</string>
            </dict>
            <key>cz_icon_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,123},{204,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,213}}</string>
                <key>sourceSize</key>
                <string>{204,213}</string>
            </dict>
            <key>cz_icon_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,724},{232,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,248}}</string>
                <key>sourceSize</key>
                <string>{232,248}</string>
            </dict>
            <key>cz_icon_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,399},{246,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,199}}</string>
                <key>sourceSize</key>
                <string>{246,199}</string>
            </dict>
            <key>cz_icon_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,329},{279,249}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,249}}</string>
                <key>sourceSize</key>
                <string>{279,249}</string>
            </dict>
            <key>cz_icon_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,623},{235,251}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,251}}</string>
                <key>sourceSize</key>
                <string>{235,251}</string>
            </dict>
            <key>cz_icon_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,219},{291,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,238}}</string>
                <key>sourceSize</key>
                <string>{291,238}</string>
            </dict>
            <key>cz_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,123},{374,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{374,94}}</string>
                <key>sourceSize</key>
                <string>{374,94}</string>
            </dict>
            <key>cz_shizhuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,357},{155,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,40}}</string>
                <key>sourceSize</key>
                <string>{155,40}</string>
            </dict>
            <key>cz_shizhuang_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,974},{155,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,40}}</string>
                <key>sourceSize</key>
                <string>{155,40}</string>
            </dict>
            <key>cz_tongxingzheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,580},{214,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,40}}</string>
                <key>sourceSize</key>
                <string>{214,40}</string>
            </dict>
            <key>cz_tongxingzheng_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,357},{214,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,40}}</string>
                <key>sourceSize</key>
                <string>{214,40}</string>
            </dict>
            <key>cz_xian.png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,2},{220,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,2}}</string>
                <key>sourceSize</key>
                <string>{220,2}</string>
            </dict>
            <key>cz_yueka.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,927},{156,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,41}}</string>
                <key>sourceSize</key>
                <string>{156,41}</string>
            </dict>
            <key>cz_yueka_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,970},{156,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,41}}</string>
                <key>sourceSize</key>
                <string>{156,41}</string>
            </dict>
            <key>cz_zengsongdikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,979},{238,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,43}}</string>
                <key>sourceSize</key>
                <string>{238,43}</string>
            </dict>
            <key>sz_dikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,459},{200,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,270}}</string>
                <key>sourceSize</key>
                <string>{200,270}</string>
            </dict>
            <key>sz_ditu.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,622},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>sz_fenye.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,927},{120,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,50}}</string>
                <key>sourceSize</key>
                <string>{120,50}</string>
            </dict>
            <key>sz_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,876},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>yk_dikuang_cheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,661},{264,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,137}}</string>
                <key>sourceSize</key>
                <string>{264,137}</string>
            </dict>
            <key>yk_dikuang_zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,661},{264,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,137}}</string>
                <key>sourceSize</key>
                <string>{264,137}</string>
            </dict>
            <key>yk_fangkuai_cheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,459},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>yk_fangkuai_zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,479},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>yk_kuang_cheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{589,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{589,59}}</string>
                <key>sourceSize</key>
                <string>{589,59}</string>
            </dict>
            <key>yk_kuang_zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,63},{589,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{589,58}}</string>
                <key>sourceSize</key>
                <string>{589,58}</string>
            </dict>
            <key>yk_tuijian.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,887},{131,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,113}}</string>
                <key>sourceSize</key>
                <string>{131,113}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>rechargeAtlas2.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:987295cf0bcb4c60c34d687220aa0ec3:268632c4c914e3160cd79b85470c55ad:5aa8d970e56fa79cc98a318685db19cf$</string>
            <key>textureFileName</key>
            <string>rechargeAtlas2.png</string>
        </dict>
    </dict>
</plist>
