<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bb_daojushiyong_biaoti.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{251,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,63}}</string>
                <key>sourceSize</key>
                <string>{251,63}</string>
            </dict>
            <key>bb_daojushiyong_huacao.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,67},{376,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{376,15}}</string>
                <key>sourceSize</key>
                <string>{380,19}</string>
            </dict>
            <key>bb_daojushiyong_huakuai.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,974},{43,43}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{43,43}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>bb_daojushiyong_jiahao_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,904},{68,68}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{68,68}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>bb_daojushiyong_jiahao_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,904},{68,68}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{68,68}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>bb_daojushiyong_jianhao_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,593},{68,68}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{68,68}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>bb_daojushiyong_jianhao_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,663},{68,68}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{68,68}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>bb_fenye1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,187},{201,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,201}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>bb_fenye2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,390},{201,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,201}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>bb_huacao.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,187},{10,715}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{10,715}}</string>
                <key>sourceSize</key>
                <string>{16,721}</string>
            </dict>
            <key>bb_huakuai.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,187},{13,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{13,90}}</string>
                <key>sourceSize</key>
                <string>{21,92}</string>
            </dict>
            <key>bg_fenye_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,129},{224,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,56}}</string>
                <key>sourceSize</key>
                <string>{224,56}</string>
            </dict>
            <key>bg_fenye_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,67},{228,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,60}}</string>
                <key>sourceSize</key>
                <string>{228,60}</string>
            </dict>
            <key>bg_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,733},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bagAtlas.png</string>
            <key>size</key>
            <string>{256,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b52e8e9bea7a560d768c953c5243b906:2577b19022a05001e3593ac9d1426a43:8c3d0e949f4655d9c8b7e1b1879f371f$</string>
            <key>textureFileName</key>
            <string>bagAtlas.png</string>
        </dict>
    </dict>
</plist>
