<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>kflb_baoxiang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,561},{200,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,160}}</string>
                <key>sourceSize</key>
                <string>{200,160}</string>
            </dict>
            <key>kflb_baoxiang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,362},{197,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,161}}</string>
                <key>sourceSize</key>
                <string>{197,161}</string>
            </dict>
            <key>kflb_baoxiang3.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,140},{220,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,188}}</string>
                <key>sourceSize</key>
                <string>{220,188}</string>
            </dict>
            <key>kflb_dikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,49},{316,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{316,270}}</string>
                <key>sourceSize</key>
                <string>{320,270}</string>
            </dict>
            <key>kflb_zhezhao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,321},{316,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{316,270}}</string>
                <key>sourceSize</key>
                <string>{320,270}</string>
            </dict>
            <key>qrqd_dikuang4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{425,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{425,45}}</string>
                <key>sourceSize</key>
                <string>{425,45}</string>
            </dict>
            <key>qrqd_fangkuai.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,2},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>qrqd_jiaobiao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,2},{136,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,50}}</string>
                <key>sourceSize</key>
                <string>{136,50}</string>
            </dict>
            <key>qrqd_jiaobiao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,959},{136,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,50}}</string>
                <key>sourceSize</key>
                <string>{136,50}</string>
            </dict>
            <key>qrqd_xuanzhongkuanghuawen.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,31},{23,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,24}}</string>
                <key>sourceSize</key>
                <string>{23,24}</string>
            </dict>
            <key>qrrw_dikuang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,763},{194,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{194,97}}</string>
                <key>sourceSize</key>
                <string>{198,101}</string>
            </dict>
            <key>qrrw_dikuang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,763},{194,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{194,97}}</string>
                <key>sourceSize</key>
                <string>{198,101}</string>
            </dict>
            <key>qrrw_zhezhao.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,593},{193,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,95}}</string>
                <key>sourceSize</key>
                <string>{193,95}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>activityAtlas1.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ff636938e1fef499878c03f936745d7c:30bf60cbc9458f11fcdffb08a227d442:392ddaced42b4f4f4b647444c04757a3$</string>
            <key>textureFileName</key>
            <string>activityAtlas1.png</string>
        </dict>
    </dict>
</plist>
