<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yx_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,498},{98,78}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,31},{98,78}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>yx_fengexian.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,2},{300,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,6}}</string>
                <key>sourceSize</key>
                <string>{300,6}</string>
            </dict>
            <key>yx_lingqu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,498},{304,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,94}}</string>
                <key>sourceSize</key>
                <string>{304,94}</string>
            </dict>
            <key>yx_mail.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{462,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{462,162}}</string>
                <key>sourceSize</key>
                <string>{462,162}</string>
            </dict>
            <key>yx_mail_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{466,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{466,166}}</string>
                <key>sourceSize</key>
                <string>{466,166}</string>
            </dict>
            <key>yx_mail_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,334},{462,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{462,162}}</string>
                <key>sourceSize</key>
                <string>{462,162}</string>
            </dict>
            <key>yx_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,594},{100,108}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,2},{100,108}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>yx_remind.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,498},{100,110}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,4},{100,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mailAtlas.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f1bb9cdc6c72ffcd2918b1c3f1f790dd:26ceb63abc711378cf899deec4e6d404:4a2b116c9e38326aaa7c5b9ea6ea9897$</string>
            <key>textureFileName</key>
            <string>mailAtlas.png</string>
        </dict>
    </dict>
</plist>
