<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gd_boss_message.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,769},{362,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{362,192}}</string>
                <key>sourceSize</key>
                <string>{362,192}</string>
            </dict>
            <key>gd_boss_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,204},{362,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{362,192}}</string>
                <key>sourceSize</key>
                <string>{362,192}</string>
            </dict>
            <key>gd_defeat.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,362},{154,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,87}}</string>
                <key>sourceSize</key>
                <string>{154,87}</string>
            </dict>
            <key>gd_edit.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,964},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>gd_examine.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,451},{142,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,142}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>gd_gonghuiditu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,971},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>gd_jingyancao.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,1000},{360,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,20}}</string>
                <key>sourceSize</key>
                <string>{360,20}</string>
            </dict>
            <key>gd_jingyantiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,964},{356,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{356,16}}</string>
                <key>sourceSize</key>
                <string>{356,16}</string>
            </dict>
            <key>gd_out.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,595},{142,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,142}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>gd_qiehuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,964},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>gd_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,769},{390,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,193}}</string>
                <key>sourceSize</key>
                <string>{390,193}</string>
            </dict>
            <key>gd_setting.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,595},{142,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,142}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>gd_tiaojian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,769},{200,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,50}}</string>
                <key>sourceSize</key>
                <string>{200,50}</string>
            </dict>
            <key>gd_xueliangcao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{786,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{786,42}}</string>
                <key>sourceSize</key>
                <string>{786,42}</string>
            </dict>
            <key>gd_xueliangcao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,2},{765,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{765,30}}</string>
                <key>sourceSize</key>
                <string>{765,30}</string>
            </dict>
            <key>gd_xueliangcao3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,46},{773,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{773,40}}</string>
                <key>sourceSize</key>
                <string>{773,40}</string>
            </dict>
            <key>gh_touxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,2},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>linshi_boss.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,204},{172,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,156}}</string>
                <key>sourceSize</key>
                <string>{172,156}</string>
            </dict>
            <key>linshi_boss2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,451},{438,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{438,300}}</string>
                <key>sourceSize</key>
                <string>{438,300}</string>
            </dict>
            <key>linshi_boss_dead.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{438,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{438,300}}</string>
                <key>sourceSize</key>
                <string>{438,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>guildAtlas.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d298428ee744a69299482ba90deced5d:d7470a1ee44277603413145ad65e7a5a:8b359b73c39dd1df37a0d51516793fe4$</string>
            <key>textureFileName</key>
            <string>guildAtlas.png</string>
        </dict>
    </dict>
</plist>
