<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>system_service.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{354,84}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{354,84}}</string>
        <key>sourceSize</key>
        <string>{354,84}</string>
      </dict>
      <key>system_ditu.png</key>
      <dict>
        <key>frame</key>
        <string>{{357,1},{140,200}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{140,200}}</string>
        <key>sourceSize</key>
        <string>{140,200}</string>
      </dict>
      <key>system_btn.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,87},{196,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{196,56}}</string>
        <key>sourceSize</key>
        <string>{196,56}</string>
      </dict>
      <key>system_cao.png</key>
      <dict>
        <key>frame</key>
        <string>{{199,87},{100,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{100,30}}</string>
        <key>sourceSize</key>
        <string>{100,30}</string>
      </dict>
      <key>system_tiao.png</key>
      <dict>
        <key>frame</key>
        <string>{{199,119},{96,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{96,26}}</string>
        <key>sourceSize</key>
        <string>{96,26}</string>
      </dict>
      <key>system_select.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,145},{64,55}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,55}}</string>
        <key>sourceSize</key>
        <string>{64,55}</string>
      </dict>
      <key>system_lipin.png</key>
      <dict>
        <key>frame</key>
        <string>{{297,119},{58,45}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{58,45}}</string>
        <key>sourceSize</key>
        <string>{58,45}</string>
      </dict>
      <key>system_kefu.png</key>
      <dict>
        <key>frame</key>
        <string>{{67,145},{52,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,48}}</string>
        <key>sourceSize</key>
        <string>{52,48}</string>
      </dict>
      <key>system_off.png</key>
      <dict>
        <key>frame</key>
        <string>{{121,145},{52,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,34}}</string>
        <key>sourceSize</key>
        <string>{52,34}</string>
      </dict>
      <key>system_on.png</key>
      <dict>
        <key>frame</key>
        <string>{{175,147},{52,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,34}}</string>
        <key>sourceSize</key>
        <string>{52,34}</string>
      </dict>
      <key>system_xinxi.png</key>
      <dict>
        <key>frame</key>
        <string>{{121,181},{46,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{46,50}}</string>
        <key>sourceSize</key>
        <string>{46,50}</string>
      </dict>
      <key>system_edit.png</key>
      <dict>
        <key>frame</key>
        <string>{{67,195},{34,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{3,3},{34,34}}</string>
        <key>sourceSize</key>
        <string>{40,40}</string>
      </dict>
      <key>system_copy_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{301,87},{28,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{6,5},{28,30}}</string>
        <key>sourceSize</key>
        <string>{40,40}</string>
      </dict>
      <key>system_copy.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,202},{28,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{6,5},{28,30}}</string>
        <key>sourceSize</key>
        <string>{40,40}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>setAtlas.png</string>
      <key>size</key>
      <string>{512,256}</string>
      <key>textureFileName</key>
      <string>setAtlas</string>
    </dict>
  </dict>
</plist>
