<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>com_avatar_ditu.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,2},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>com_avatar_ditu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{237,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,237}}</string>
                <key>sourceSize</key>
                <string>{237,237}</string>
            </dict>
            <key>com_avatar_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,2},{206,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,206}}</string>
                <key>sourceSize</key>
                <string>{206,206}</string>
            </dict>
            <key>com_buy_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,404},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>com_buy_dikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,2},{400,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,50}}</string>
                <key>sourceSize</key>
                <string>{400,50}</string>
            </dict>
            <key>com_buy_ditu.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,204},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>com_buy_ditu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,871},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>com_buy_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,489},{598,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{598,40}}</string>
                <key>sourceSize</key>
                <string>{598,40}</string>
            </dict>
            <key>com_click_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,645},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>com_dengjidikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,304},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>com_dikuang_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,340},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>com_ditu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,2},{480,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,40}}</string>
                <key>sourceSize</key>
                <string>{480,40}</string>
            </dict>
            <key>com_ditu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,963},{160,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,40}}</string>
                <key>sourceSize</key>
                <string>{160,40}</string>
            </dict>
            <key>com_fenye_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,645},{224,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,46}}</string>
                <key>sourceSize</key>
                <string>{224,46}</string>
            </dict>
            <key>com_fenye_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,963},{228,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,50}}</string>
                <key>sourceSize</key>
                <string>{228,50}</string>
            </dict>
            <key>com_huabian_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,484},{477,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{477,23}}</string>
                <key>sourceSize</key>
                <string>{477,23}</string>
            </dict>
            <key>com_huabian_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,935},{444,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{444,23}}</string>
                <key>sourceSize</key>
                <string>{444,23}</string>
            </dict>
            <key>com_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,304},{29,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,34}}</string>
                <key>sourceSize</key>
                <string>{29,34}</string>
            </dict>
            <key>com_me_message.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,343},{300,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,144}}</string>
                <key>sourceSize</key>
                <string>{300,144}</string>
            </dict>
            <key>com_message.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,343},{300,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,144}}</string>
                <key>sourceSize</key>
                <string>{300,144}</string>
            </dict>
            <key>com_message_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,893},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>com_message_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,645},{154,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,154}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>com_message_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,2},{300,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,144}}</string>
                <key>sourceSize</key>
                <string>{300,144}</string>
            </dict>
            <key>com_message_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,241},{300,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,180}}</string>
                <key>sourceSize</key>
                <string>{300,180}</string>
            </dict>
            <key>com_minjie.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,733},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>com_null.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,963},{598,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{598,40}}</string>
                <key>sourceSize</key>
                <string>{598,40}</string>
            </dict>
            <key>com_others.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,489},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>com_paging.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,893},{184,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,64}}</string>
                <key>sourceSize</key>
                <string>{184,64}</string>
            </dict>
            <key>com_paging_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,893},{184,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,64}}</string>
                <key>sourceSize</key>
                <string>{184,64}</string>
            </dict>
            <key>com_qiangzhuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,805},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>com_rank1.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,531},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>com_rank2.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,691},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>com_rank3.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,733},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>com_shengming.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,801},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>com_sudu.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,801},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>com_using.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,767},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>com_wq_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,2},{200,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,80}}</string>
                <key>sourceSize</key>
                <string>{200,80}</string>
            </dict>
            <key>com_wq_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,531},{200,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,80}}</string>
                <key>sourceSize</key>
                <string>{200,80}</string>
            </dict>
            <key>com_wq_star0.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,204},{31,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,30}}</string>
                <key>sourceSize</key>
                <string>{31,30}</string>
            </dict>
            <key>com_wq_star1.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,204},{31,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,30}}</string>
                <key>sourceSize</key>
                <string>{31,30}</string>
            </dict>
            <key>com_wq_star2.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,204},{31,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,30}}</string>
                <key>sourceSize</key>
                <string>{31,30}</string>
            </dict>
            <key>com_wq_taizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,645},{198,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,44}}</string>
                <key>sourceSize</key>
                <string>{198,44}</string>
            </dict>
            <key>com_zhiwei1.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,304},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>com_zhiwei2.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,304},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>sy_zbdb.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,543},{480,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,100}}</string>
                <key>sourceSize</key>
                <string>{480,100}</string>
            </dict>
            <key>sy_zbdb_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,241},{480,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,100}}</string>
                <key>sourceSize</key>
                <string>{480,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>commonAtlas1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f796b12dab3548ff2dc5e584bbb5f43c:d7edb2dd9a76aa390e0a112e9b14808c:d8632e5f5d39a1856e5f52c46248a0bf$</string>
            <key>textureFileName</key>
            <string>commonAtlas1.png</string>
        </dict>
    </dict>
</plist>
