<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lt_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,473},{120,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,60}}</string>
                <key>sourceSize</key>
                <string>{120,60}</string>
            </dict>
            <key>lt_diwen.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{469,469}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{469,469}}</string>
                <key>sourceSize</key>
                <string>{469,469}</string>
            </dict>
            <key>lt_pindao_tag.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,535},{100,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,60}}</string>
                <key>sourceSize</key>
                <string>{100,60}</string>
            </dict>
            <key>lt_shuru.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,535},{100,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,60}}</string>
                <key>sourceSize</key>
                <string>{100,60}</string>
            </dict>
            <key>lt_timekuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,2},{100,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,30}}</string>
                <key>sourceSize</key>
                <string>{100,30}</string>
            </dict>
            <key>lt_yuyan_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,473},{335,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{335,40}}</string>
                <key>sourceSize</key>
                <string>{335,40}</string>
            </dict>
            <key>lt_yuyan_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,515},{335,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{335,40}}</string>
                <key>sourceSize</key>
                <string>{335,40}</string>
            </dict>
            <key>lt_zhiwei_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,104},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>lt_zhiwei_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,136},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chatAtlas.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:809ce3a8de5755ab0c86a30d99eede93:ebac9bcd23c66533dd6d447c92719f8a:5ad3b03698e06e94592cda2fcc570420$</string>
            <key>textureFileName</key>
            <string>chatAtlas.png</string>
        </dict>
    </dict>
</plist>
