<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wq_shengji_biaotidikuang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,80},{471,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{471,40}}</string>
                <key>sourceSize</key>
                <string>{471,40}</string>
            </dict>
            <key>wq_shengji_biaotidikuang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{708,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{708,36}}</string>
                <key>sourceSize</key>
                <string>{708,36}</string>
            </dict>
            <key>wq_shengji_dengjishangxiandikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,553},{178,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,32}}</string>
                <key>sourceSize</key>
                <string>{178,32}</string>
            </dict>
            <key>wq_shengji_jiantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{140,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,62}}</string>
                <key>sourceSize</key>
                <string>{140,62}</string>
            </dict>
            <key>wq_shengji_zhizhen.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{76,100}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,0},{76,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>weaponAtlas.png</string>
            <key>size</key>
            <string>{128,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:db56d09845b432274263b67883b633b7:3babbc60e6f291f48094ea3b784d0ee1:890a4ebafd98e5f3977408d9d0c6c537$</string>
            <key>textureFileName</key>
            <string>weaponAtlas.png</string>
        </dict>
    </dict>
</plist>
