<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>com_ad.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,410},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>com_avatar_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,528},{134,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,134}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>com_avatar_die.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,628},{100,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,94}}</string>
                <key>sourceSize</key>
                <string>{100,94}</string>
            </dict>
            <key>com_bigbtn_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,96},{364,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{364,94}}</string>
                <key>sourceSize</key>
                <string>{364,94}</string>
            </dict>
            <key>com_bigbtn_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,68},{364,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{364,94}}</string>
                <key>sourceSize</key>
                <string>{364,94}</string>
            </dict>
            <key>com_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,278},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>com_boss.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,444},{73,65}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{73,65}}</string>
                <key>sourceSize</key>
                <string>{77,69}</string>
            </dict>
            <key>com_btn_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,669},{205,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,64}}</string>
                <key>sourceSize</key>
                <string>{205,64}</string>
            </dict>
            <key>com_btn_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,669},{205,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,64}}</string>
                <key>sourceSize</key>
                <string>{205,64}</string>
            </dict>
            <key>com_btn_grey.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,669},{205,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,64}}</string>
                <key>sourceSize</key>
                <string>{205,64}</string>
            </dict>
            <key>com_btn_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,669},{205,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,64}}</string>
                <key>sourceSize</key>
                <string>{205,64}</string>
            </dict>
            <key>com_btn_type_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,68},{228,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,78}}</string>
                <key>sourceSize</key>
                <string>{228,78}</string>
            </dict>
            <key>com_btn_type_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,298},{228,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,78}}</string>
                <key>sourceSize</key>
                <string>{228,78}</string>
            </dict>
            <key>com_btn_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,669},{205,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,64}}</string>
                <key>sourceSize</key>
                <string>{205,64}</string>
            </dict>
            <key>com_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>com_daojuleixingdikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,2},{80,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,42}}</string>
                <key>sourceSize</key>
                <string>{80,42}</string>
            </dict>
            <key>com_dikuang_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,876},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>com_dikuang_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,876},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>com_dikuang_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,268},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>com_dikuang_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,474},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>com_dikuang_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,474},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>com_dikuang_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,187},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>com_down_mark.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,444},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>com_dt.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,669},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>com_dt2.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,192},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>com_fenye.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,576},{120,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,50}}</string>
                <key>sourceSize</key>
                <string>{120,50}</string>
            </dict>
            <key>com_finals.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,192},{74,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,68}}</string>
                <key>sourceSize</key>
                <string>{74,68}</string>
            </dict>
            <key>com_gx_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,467},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>com_gx_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,84},{49,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,42}}</string>
                <key>sourceSize</key>
                <string>{49,42}</string>
            </dict>
            <key>com_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,475},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>com_help_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,296},{12,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,34}}</string>
                <key>sourceSize</key>
                <string>{12,34}</string>
            </dict>
            <key>com_hide_mark.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,380},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>com_items_tag.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,297},{100,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,40}}</string>
                <key>sourceSize</key>
                <string>{100,40}</string>
            </dict>
            <key>com_items_tag_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,164},{100,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,40}}</string>
                <key>sourceSize</key>
                <string>{100,40}</string>
            </dict>
            <key>com_jiantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,444},{20,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,26}}</string>
                <key>sourceSize</key>
                <string>{20,26}</string>
            </dict>
            <key>com_jiantou2.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,399},{66,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,40}}</string>
                <key>sourceSize</key>
                <string>{66,40}</string>
            </dict>
            <key>com_jifen.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,444},{73,72}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{73,72}}</string>
                <key>sourceSize</key>
                <string>{77,78}</string>
            </dict>
            <key>com_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,474},{60,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,72}}</string>
                <key>sourceSize</key>
                <string>{60,72}</string>
            </dict>
            <key>com_log.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,528},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>com_message_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,164},{320,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,60}}</string>
                <key>sourceSize</key>
                <string>{320,60}</string>
            </dict>
            <key>com_message_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,226},{280,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,50}}</string>
                <key>sourceSize</key>
                <string>{280,50}</string>
            </dict>
            <key>com_newItems.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,598},{57,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,57}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>com_new_mark.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,410},{27,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,28}}</string>
                <key>sourceSize</key>
                <string>{27,28}</string>
            </dict>
            <key>com_new_mark1.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,475},{63,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,60}}</string>
                <key>sourceSize</key>
                <string>{63,60}</string>
            </dict>
            <key>com_quality_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,544},{122,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,122}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>com_quality_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,876},{122,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,122}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>com_quality_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,543},{122,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,122}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>com_quality_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,350},{122,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,122}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>com_quality_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,540},{122,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,122}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>com_quality_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,350},{122,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,122}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>com_quality_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,368},{122,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,122}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>com_quality_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,492},{122,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,122}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>com_quality_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,616},{122,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,122}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>com_quality_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,669},{122,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,122}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>com_quality_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,724},{122,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,122}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>com_rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,410},{66,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,68}}</string>
                <key>sourceSize</key>
                <string>{66,68}</string>
            </dict>
            <key>com_received.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,266},{100,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,85}}</string>
                <key>sourceSize</key>
                <string>{100,85}</string>
            </dict>
            <key>com_remind.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,470},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>com_return.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,664},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>com_return_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,480},{45,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,44}}</string>
                <key>sourceSize</key>
                <string>{45,44}</string>
            </dict>
            <key>com_reward.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,274},{52,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,75}}</string>
                <key>sourceSize</key>
                <string>{52,75}</string>
            </dict>
            <key>com_select_120.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,54},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>com_shadow_L.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,349},{106,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,28}}</string>
                <key>sourceSize</key>
                <string>{106,28}</string>
            </dict>
            <key>com_shadow_M.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,509},{158,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,38}}</string>
                <key>sourceSize</key>
                <string>{158,38}</string>
            </dict>
            <key>com_shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,475},{73,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,66}}</string>
                <key>sourceSize</key>
                <string>{73,66}</string>
            </dict>
            <key>com_skil_texiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,528},{136,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,136}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>com_skill_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,428},{19,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,22}}</string>
                <key>sourceSize</key>
                <string>{19,22}</string>
            </dict>
            <key>com_skillkuang_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,349},{124,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,124}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>com_skillkuang_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,740},{122,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,122}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>com_skillkuang_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,793},{122,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,122}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>com_skillkuang_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,192},{124,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,124}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>com_skillkuang_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,318},{124,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,124}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>com_state_mark.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,96},{89,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,34}}</string>
                <key>sourceSize</key>
                <string>{89,34}</string>
            </dict>
            <key>com_title1.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,351},{191,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,50}}</string>
                <key>sourceSize</key>
                <string>{191,50}</string>
            </dict>
            <key>com_title_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,2},{444,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{444,64}}</string>
                <key>sourceSize</key>
                <string>{444,64}</string>
            </dict>
            <key>com_title_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{530,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{530,50}}</string>
                <key>sourceSize</key>
                <string>{530,50}</string>
            </dict>
            <key>com_title_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,54},{400,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,40}}</string>
                <key>sourceSize</key>
                <string>{400,40}</string>
            </dict>
            <key>com_title_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,278},{260,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,70}}</string>
                <key>sourceSize</key>
                <string>{260,70}</string>
            </dict>
            <key>com_unlock.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,226},{29,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,34}}</string>
                <key>sourceSize</key>
                <string>{29,34}</string>
            </dict>
            <key>com_up_mark.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,496},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>com_view.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,480},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>com_xiahua.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,306},{72,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,36}}</string>
                <key>sourceSize</key>
                <string>{72,36}</string>
            </dict>
            <key>com_ziyuan_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,274},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>com_ziyuancao.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,135},{160,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,40}}</string>
                <key>sourceSize</key>
                <string>{160,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>commonAtlas.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:73cb73ac661de25611d41951d4bec67f:cb96bdb8c672e1b35e65b843c9680419:6bb4b63d8df1d2ab5185b3aa009c9950$</string>
            <key>textureFileName</key>
            <string>commonAtlas.png</string>
        </dict>
    </dict>
</plist>
