<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cj_dikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,414},{534,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{534,54}}</string>
                <key>sourceSize</key>
                <string>{540,60}</string>
            </dict>
            <key>cj_touying.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{410,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{410,99}}</string>
                <key>sourceSize</key>
                <string>{410,99}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>createPlayerGenderAtlas.png</string>
            <key>size</key>
            <string>{128,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f3cf300ec092d2e05dca04099f769192:ceb92c839e1d4202a872bacd9b1aa2a7:c50ccc525a7e4ac829dee1ba59f6bb16$</string>
            <key>textureFileName</key>
            <string>createPlayerGenderAtlas.png</string>
        </dict>
    </dict>
</plist>
