<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>qd_jianbianditu.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{1920,93}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{1920,93}}</string>
        <key>sourceSize</key>
        <string>{1920,93}</string>
      </dict>
      <key>qd_huancun.png</key>
      <dict>
        <key>frame</key>
        <string>{{1923,1},{120,124}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,124}}</string>
        <key>sourceSize</key>
        <string>{120,124}</string>
      </dict>
      <key>qd_loading_cao.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,96},{1558,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{1558,48}}</string>
        <key>sourceSize</key>
        <string>{1558,48}</string>
      </dict>
      <key>qd_server.png</key>
      <dict>
        <key>frame</key>
        <string>{{1561,123},{400,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{400,60}}</string>
        <key>sourceSize</key>
        <string>{400,60}</string>
      </dict>
      <key>qd_loading.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,146},{1540,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{1540,30}}</string>
        <key>sourceSize</key>
        <string>{1540,30}</string>
      </dict>
      <key>qd_select_ditu.png</key>
      <dict>
        <key>frame</key>
        <string>{{1963,123},{870,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{870,50}}</string>
        <key>sourceSize</key>
        <string>{870,50}</string>
      </dict>
      <key>qd_select.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,995},{262,104}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{262,104}}</string>
        <key>sourceSize</key>
        <string>{262,104}</string>
      </dict>
      <key>qd_kuang.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,1259},{230,90}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{230,90}}</string>
        <key>sourceSize</key>
        <string>{230,90}</string>
      </dict>
      <key>qd_gonggao.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,1491},{108,125}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{108,125}}</string>
        <key>sourceSize</key>
        <string>{108,125}</string>
      </dict>
      <key>status_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{93,1259},{44,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{44,44}}</string>
        <key>sourceSize</key>
        <string>{44,44}</string>
      </dict>
      <key>status_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{93,1305},{44,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{44,44}}</string>
        <key>sourceSize</key>
        <string>{44,44}</string>
      </dict>
      <key>status_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{93,1351},{44,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{44,44}}</string>
        <key>sourceSize</key>
        <string>{44,44}</string>
      </dict>
      <key>status_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{93,1397},{44,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{44,44}}</string>
        <key>sourceSize</key>
        <string>{44,44}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>loginAtlas.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>loginAtlas</string>
    </dict>
  </dict>
</plist>
